<nav  class="navbar" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <h2>Restuarant Record app</h2>
    <div class="d-flex">
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Restaurant</button>
    </div>
  </div>
</nav>


<div class=" p-5 mb-4 bg-light rounded-4">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Restaurant Record Management</h1>
    <p class="col-md-8 fs-4">You can save record here</p>
    <a href="https://github.com/CodeByHarshalBhoi" target="_blank"
    class="btn btn-primary btn-lg">GitHub</a>
  </div>
</div>

<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">Restaurant id</th>
      <th scope="col">Name</th>
      <th scope="col">Mobile</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">Service</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Tulsi</td>
      <td>1234567890</td>
      <td>tulsi@gmail.com</td>
      <td>Location not fixed</td>
      <td>Chai & Coffee</td>
      <td><button class="btn btn-info">Edit</button>&nbsp;
      <button class="btn btn-danger">Delet</button></td>
    </tr>
  </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label  class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter restaurant name....">
          </div>

          <div class="mb-3">
            <label  class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Enter email here">
          </div>

          <div class="mb-3">
            <label  class="form-label">Mobile</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Mobile....">
          </div>

          <div class="mb-3">
            <label  class="form-label">Address</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Address....">
          </div>

          <div class="mb-3">
            <label  class="form-label">Service</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Services....">
          </div>

          <div class="mb-3">
            <label  class="form-label">Actiion</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Action....">
          </div>


          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add Details</button>
      </div>
    </div>
  </div>
</div>
